.surgical-items {
  padding: 60px 80px;
  background: linear-gradient(to bottom, #f8fbff, #eef4ff);

  &__heading {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #1a2b49;
    margin-bottom: 50px;
    position: relative;

    &::after {
      content: "";
      width: 90px;
      height: 4px;
      background: linear-gradient(to right, #ff9933, #138808);
      display: block;
      margin: 12px auto 0;
      border-radius: 5px;
    }
  }
}
